---
import Typography from '../Typography.astro';

interface Props {
  text: string;
  href: string;
  variant: 'primary' | 'secondary' | 'outline' | 'primary-light' | 'purple';
  class?: string;
  textClass?: string;
}
---

<button
  onclick={'handleLocation'}
  class:list={[
    'action-button flex rounded-3xl border-[6px] border-[#27AAE1] text-white lg:text-[30px]',
    {
      'border-none bg-[#193275]': Astro.props.variant === 'primary',
      'bg-[#27AAE1]': Astro.props.variant === 'primary-light',
      'bg-secondary': Astro.props.variant === 'secondary',
      'bg-transparent': Astro.props.variant === 'outline',
      'border-none bg-blue-purple': Astro.props.variant === 'purple',
      [`${Astro.props.class}`]: Astro.props.class,
    },
  ]}
>
  <Typography
    class:list={[
      'block px-3 py-6 text-white',
      { [`${Astro.props.textClass}`]: Astro.props.textClass },
    ]}
    as="a"
    variant="h2"
    href={Astro.props.href}
  >
    {Astro.props.text}
  </Typography>
</button>
