---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import Typography from '../Typography.astro';
import type { Services } from '@/types/OurServicesLanding';

interface Props {
  service: Services;
}

const { service } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/landing/*.webp');
---

<div
  class="card flex min-h-[450px] flex-col items-center justify-around rounded-2xl lg:min-h-[610px]"
>
  <div class="card-inner">
    <div class="card-front p-5">
      <Image
        class={`${service.id === 3 ? 'h-[220px] lg:h-[320px] mt-[30px]' : service.id === 6 ? 'h-[160px] lg:h-[240px] mt-10' : 'h-[220px] lg:h-[270px]'} w-[250px] self-center`}
        src={images[service.image]()}
        alt={service.title}
      />
      <div class="overflow-hidden transition-all duration-300">
        <Typography
          as="p"
          variant="h4"
          class="text-center font-nexaBold !text-[25px] font-bold text-white lg:!text-[39px]"
        >
          {service.title}
        </Typography>
      </div>
    </div>
    <div class="card-back flex flex-col justify-center overflow-hidden">
      <Typography
        as="span"
        variant="h4"
        class="!text-[20px] lg:!text-[32px]"
        set:html={service.content}
      />
    </div>
  </div>
</div>
