---
import Typography from '@/components/Typography.astro';
---

<div
  class="flex min-h-[200px] w-full max-w-[300px] flex-col items-center justify-center gap-3 bg-white px-8 py-10 shadow-md"
>
  <slot name="icon" />
  <Typography class="text-wrap text-lg text-primary" as="p" variant="accent">
    <slot name="text" />
  </Typography>
  <slot name="link" />
  <slot name="description" />
</div>
