---
interface Props {
  img: string;
  alt: string;
  class?: string;
}
---

<div class="relative mx-auto flex h-[100px] w-max md:h-[275px]">
  <div class="inset-0 bottom-0 mt-auto h-full w-40 rounded-[20px] bg-blue-purple md:w-[315px]">
  </div>

  <img
    class="absolute inset-x-0 bottom-0 mx-auto w-20 md:w-auto"
    src={Astro.props.img}
    alt={Astro.props.alt}
  />
</div>
