---
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@/i18n/utils';
import FeaturedArticles from '@/sections/FeaturedArticles.astro';
import Hero from '@/sections/Hero.astro';
import LatestArticles from '@/sections/LatestArticles.astro';
import Layout from '@/layouts/Layout.astro';
import fetchApi from '@/lib/strapi';
import type { PageInfo } from '@/types/strapi/PageInfo';
import LinkPill from '@/components/LinkPill.astro';

const pageInfo = await fetchApi<PageInfo>({
  endpoint: 'blog',
  params: {
    locale: Astro.currentLocale,
    populate: {
      seo: true,
      hero: {
        fields: true,
        populate: {
          image: {
            fields: ['url', 'width', 'height', 'formats', 'alternativeText'],
          },
        },
      },
    },
  },
});

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout seo={pageInfo.data.attributes.seo}>
  <Hero {...pageInfo.data.attributes.hero} />

  <FeaturedArticles />

  <LatestArticles start={2} title={t('common-browse-all-articles')}>
    <div slot="button" class="mt-5 text-center">
      <LinkPill variant="contained" href={translatePath('/blog/all', lang)}>
        {t('common.see-all')}
      </LinkPill>
    </div>
  </LatestArticles>
</Layout>
