---
import LinkPill from '@/components/LinkPill.astro';
import ResponsiveContainer from '@/components/ResponsiveContainer.astro';
import Typography from '@/components/Typography.astro';
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const translatePath = useTranslatedPath(lang);
---

<ResponsiveContainer>
  <Typography as="p" variant="paragraph" class="text-justify text-primary xl:px-[100px]">
    {Astro.props.description}
  </Typography>

  <div class="mt-16 text-center">
    <LinkPill href={translatePath('/contact-us', lang)} variant="contained">
      {t('common.contact-us')}
    </LinkPill>
  </div>
</ResponsiveContainer>
