---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

interface Props {
  defaultValue: string;
}

const { defaultValue } = Astro.props as Props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="my-5 w-full">
  <input
    placeholder=`${t('common.search')}`
    id="search-input"
    class="focus:outline-solid w-full border border-[#E6E6E6] px-[26px] py-[15px] focus-visible:outline-[#d1d5db]"
    value={defaultValue}
  />
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    const inputSearch = document.getElementById('search-input');
    if (!inputSearch) return;
    let inputValue: NodeJS.Timeout;
    inputSearch?.addEventListener('input', (event) => {
      if (!event.target) return;
      const value = (event.target as any).value;
      if (inputValue) {
        clearTimeout(inputValue);
      }
      if (value.length === 0) {
        location.href = `/blog/all/#articles`;
      }
      inputValue = setTimeout(() => {
        location.href = `/blog/all/?search=${value}&#articles`;
      }, 1000);
    });
  });
</script>
