---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="font-roboto text-sky-blue">{t('common.hello')}</h1>
  </main>
</Layout>
