---
import Antenna from '@/icons/Antenna.astro';
import Card from '@/components/Services/Card.astro';
import CardContainer from '@/components/Services/CardContainer.astro';
import Code from '@/icons/Code.astro';
import Hero from '@/sections/Hero.astro';
import LatestArticles from '@/sections/LatestArticles.astro';
import LatestProjects from '@/sections/LatestProjects.astro';
import Layout from '@/layouts/Layout.astro';
import LinkPill from '@/components/LinkPill.astro';
import MagnifyingGlass from '@/icons/MagnifyingGlass.astro';
import Partners from '@/sections/Partners.astro';
import ReachOut from '@/sections/ReachOut.astro';
import Reviews from '@/sections/Reviews.astro';
import Services from '@/sections/Services.astro';
import Typography from '@/components/Typography.astro';
import fetchApi from '@/lib/strapi';
import type { PageInfo } from '@/types/strapi/PageInfo';
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@/i18n/utils';
import Newsletter from '@/components/Newsletter.astro';

const pageInfo = await fetchApi<PageInfo>({
  endpoint: 'home-page',
  params: {
    locale: Astro.currentLocale,
    populate: {
      seo: true,
      hero: {
        fields: true,
        populate: {
          image: {
            fields: ['url', 'width', 'height', 'formats', 'alternativeText'],
          },
        },
      },
    },
  },
});

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const translatePath = useTranslatedPath(lang);
---

<Layout seo={pageInfo.data.attributes.seo} canonical="https://crazyimagine.com">
  <Hero {...pageInfo.data.attributes.hero}>
    <LinkPill slot="button" variant="contained" href={translatePath('/contact-us', lang)}>
      {t('common.home-hero-button')}
    </LinkPill>
  </Hero>

  <Services
    img={{
      path: '/src/assets/ui/light-bulb.webp',
      alt: t('alt.light-bulb'),
    }}
  >
    <Typography slot="main-text" class="capitalize text-primary" variant="h2" as="h2">
      {t('services.why-should-you')}
      <span class="text-secondary">{' '}{t('services.choose-us')}</span>
    </Typography>
    <Typography slot="description" class="mt-5" variant="paragraph" as="p">
      {t('services.we-will-help-you-strategize')}
    </Typography>

    <CardContainer slot="cards">
      <Card>
        <Code slot="icon" class="text-secondary" />
        <span slot="text">{t('services.full-stack-development')}</span>
      </Card>
      <Card>
        <MagnifyingGlass slot="icon" class="text-secondary" />
        <span slot="text">{t('services.user-experience')}</span>
      </Card>
      <Card>
        <Antenna slot="icon" class="text-secondary" />
        <span slot="text">{t('services.quality-support')}</span>
      </Card>
    </CardContainer>

    <Typography class="mt-16 text-wrap text-center text-primary" as="p" variant="caption">
      {t('services.with-deep-expertise')}
    </Typography>

    <div class="mt-14 text-center">
      <LinkPill variant="contained" href={translatePath('/projects', lang)}>
        {t('common.get-started')}
      </LinkPill>
    </div>
  </Services>

  <Reviews />

  <LatestProjects title={t('common.previous-projects')} />

  <Newsletter />

  <Partners />

  <LatestArticles title={t('common.latest-in-tech-talk')} />

  <ReachOut />
</Layout>
