---
import CarouselSection from '@/sections/CarouselSection.astro';
import Hero from '@/sections/Hero.astro';
import Layout from '@/layouts/Layout.astro';
import LinkPill from '@/components/LinkPill.astro';
import Partners from '@/sections/Partners.astro';
import { carouselData } from '@/utils/test/carousel-data';
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@/i18n/utils';
import NewsAndUpdates from '@/sections/NewsAndUpdates.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const translatePath = useTranslatedPath(lang);
---

<Layout
  title={t('SEO.home-title')}
  description={t('SEO.home-description')}
  canonical="https://crazyimagine.com"
>
  <Hero page="home">
    <LinkPill slot="button" href={translatePath('#', lang)}>
      {t('hero.home-button')}
    </LinkPill>
  </Hero>

  <CarouselSection
    type="white"
    title={t('common.previous-projects')}
    data={carouselData}
    linkText={t('common.view-project')}
  >
    <div class="mt-10 text-center">
      <LinkPill href={translatePath('#', lang)}>
        {t('common.all-projects')}
      </LinkPill>
    </div>
  </CarouselSection>

  <NewsAndUpdates />

  <Partners />

  <CarouselSection
    type="blue"
    title={t('common.latest-in-tech-talk')}
    data={carouselData}
    linkText={t('common.read-more')}
  />
</Layout>
