---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
  title="Welcome to Astro."
  heroTitle={t('cis.slogan')}
  heroSubtitle={t('hero.home-subtitle')}
  scheduleCall
>
  <h5>{t('common.hello')}</h5>
</Layout>
