---
import Antenna from '@/icons/Antenna.astro';
import ArticleCard from '@/components/ArticleCard.astro';
import Card from '@/components/Services/Card.astro';
import CardContainer from '@/components/Services/CardContainer.astro';
import CarouselSection from '@/sections/CarouselSection.astro';
import Code from '@/icons/Code.astro';
import Hero from '@/sections/Hero.astro';
import Layout from '@/layouts/Layout.astro';
import LinkPill from '@/components/LinkPill.astro';
import MagnifyingGlass from '@/icons/MagnifyingGlass.astro';
import NewsAndUpdates from '@/sections/NewsAndUpdates.astro';
import Partners from '@/sections/Partners.astro';
import ReachOut from '@/sections/ReachOut.astro';
import Reviews from '@/sections/Reviews.astro';
import Services from '@/sections/Services.astro';
import Typography from '@/components/Typography.astro';
import fetchApi from '@/lib/strapi';
import type { SEO } from '@/types/strapi/SEO';
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@/i18n/utils';
import { mockArticles } from '@/utils/mock/articles';

const seo = await fetchApi<SEO>({
  endpoint: 'home-page',
  params: {
    locale: Astro.currentLocale,
    populate: {
      seo: true,
    },
  },
});

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const translatePath = useTranslatedPath(lang);
---

<Layout
  title={seo.data.attributes.seo.metaTitle}
  description={seo.data.attributes.seo.metaDescription}
  canonical="https://crazyimagine.com"
>
  <Hero page="home">
    <LinkPill slot="button" variant="contained" href={translatePath('#', lang)}>
      {t('hero.home-button')}
    </LinkPill>
  </Hero>

  <Services
    img={{
      path: '/src/assets/ui/light-bulb.webp',
      alt: t('alt.light-bulb'),
    }}
  >
    <Typography slot="main-text" class="capitalize text-primary" variant="h2" as="h2">
      {t('services.why-should-you')}
      <span class="text-secondary">{' '}{t('services.choose-us')}</span>
    </Typography>
    <Typography slot="description" class="mt-5" variant="paragraph" as="p">
      {t('services.we-will-help-you-strategize')}
    </Typography>

    <CardContainer slot="cards">
      <Card>
        <Code slot="icon" class="text-secondary" />
        <span slot="text">{t('services.full-stack-development')}</span>
      </Card>
      <Card>
        <MagnifyingGlass slot="icon" class="text-secondary" />
        <span slot="text">{t('services.user-experience')}</span>
      </Card>
      <Card>
        <Antenna slot="icon" class="text-secondary" />
        <span slot="text">{t('services.quality-support')}</span>
      </Card>
    </CardContainer>

    <Typography class="mt-16 text-wrap text-center text-primary" as="p" variant="caption">
      {t('services.with-deep-expertise')}
    </Typography>

    <div class="mt-14 text-center">
      <LinkPill variant="contained" href={translatePath('#', lang)}>
        {t('common.get-started')}
      </LinkPill>
    </div>
  </Services>

  <Reviews />

  <CarouselSection title={t('common.previous-projects')}>
    <Fragment slot="items">
      {
        mockArticles.map((value) => (
          <ArticleCard {...value} class="shadow-md" linkText={t('common.view-project')} />
        ))
      }
    </Fragment>

    <div class="mt-10 text-center">
      <LinkPill variant="contained" href={translatePath('#', lang)}>
        {t('common.all-projects')}
      </LinkPill>
    </div>
  </CarouselSection>

  <NewsAndUpdates />

  <Partners />

  <CarouselSection background="bulbs" title={t('common.latest-in-tech-talk')}>
    <Fragment slot="items">
      {mockArticles.map((value) => <ArticleCard {...value} linkText={t('common.read-more')} />)}
    </Fragment>
  </CarouselSection>

  <ReachOut />
</Layout>
