---
import 'swiper/css';
import 'swiper/css/keyboard';
import 'swiper/css/pagination';
import 'swiper/css/navigation';

interface Props {
  pagination?: boolean;
  navigation?: boolean;
  slidesPerView?: {
    0: number;
    600: number;
    960: number;
    1280: number;
    1920: number;
  };
}

const {
  slidesPerView = {
    0: 1,
    600: 2,
    960: 3,
    1280: 4,
    1920: 4,
  },
  pagination = false,
  navigation = false,
} = Astro.props;
---

<div
  class={`swiper mySwiper relative !m-0  !overflow-clip ${navigation ? 'w-full lg:w-[65%]' : 'w-full'}`}
  data-slides={JSON.stringify(slidesPerView)}
  data-navigation={navigation.toString()}
>
  <div class="swiper-wrapper items-stretch">
    <slot />
  </div>

  {
    navigation && (
      <>
        <div
          id="custom-next"
          class="swiper-button-next swiper-button-landing-next !hidden md:!block lg:!right-[90px]"
        />
        <div
          id="custom-prev"
          class="swiper-button-prev swiper-button-landing-prev !hidden md:!block lg:!left-[40px]"
        />
      </>
    )
  }

  <div class="swiper-pagination !relative !bottom-0"></div>
</div>

<script>
  import Swiper from 'swiper';
  import { Keyboard, Navigation, Pagination } from 'swiper/modules';

  function initSwiper() {
    const swiperEl = document.querySelector('.mySwiper') as HTMLElement;
    if (!swiperEl) return;

    const slidesPerView = JSON.parse(swiperEl.dataset.slides || '{}');
    const pagination = swiperEl.dataset.pagination === 'true';
    const navigation = swiperEl.dataset.navigation === 'true';

    const modules = [Keyboard, Pagination];
    if (navigation) {
      modules.push(Navigation);
    }

    const swiper = new Swiper('.mySwiper', {
      modules,
      spaceBetween: 50,
      breakpoints: {
        0: {
          slidesPerView: slidesPerView[0] || 1,
        },
        600: {
          slidesPerView: slidesPerView[600] || 2,
        },
        960: {
          slidesPerView: slidesPerView[960] || 3,
        },
        1280: {
          slidesPerView: slidesPerView[1280] || 4,
        },
        1920: {
          slidesPerView: slidesPerView[1920] || 4,
        },
      },
      grabCursor: true,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      ...(navigation && {
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
          enabled: true,
        },
      }),
      keyboard: {
        enabled: true,
      },
    });
  }

  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', initSwiper);
  } else {
    initSwiper();
  }
</script>

<style>
  #custom-next:after,
  #custom-prev:after {
    color: var(--color-primary) !important;
  }
</style>
