---
import 'swiper/css';
import 'swiper/css/keyboard';
import 'swiper/css/pagination';
import 'swiper/css/navigation';

interface Props {
  pagination?: boolean;
  slidesPerView?: {
    0: number;
    600: number;
    960: number;
    1280: number;
    1920: number;
  };
}

const {
  slidesPerView = {
    0: 1,
    600: 2,
    960: 3,
    1280: 4,
    1920: 4,
  },
  pagination = false,
} = Astro.props;
---

<div class="swiper mySwiper relative !overflow-clip" data-slides={JSON.stringify(slidesPerView)}>
  <div class="swiper-wrapper items-stretch">
    <slot />
  </div>

  <div class="swiper-pagination !relative !bottom-0"></div>
</div>

<script>
  import Swiper from 'swiper';
  import { Keyboard, Pagination } from 'swiper/modules';
  import type { SwiperOptions } from 'swiper/types';

  const swiperEl = document.querySelector('.mySwiper') as HTMLElement;
  const slidesPerView = JSON.parse(swiperEl.dataset.slides || '{}');
  const pagination = swiperEl.dataset.pagination === 'true';

  const swiper = new Swiper('.mySwiper', {
    modules: [Keyboard, Pagination],
    spaceBetween: 50,
    breakpoints: {
      0: {
        slidesPerView: slidesPerView[0] || 1,
      },
      600: {
        slidesPerView: slidesPerView[600] || 2,
      },
      960: {
        slidesPerView: slidesPerView[960] || 3,
      },
      1280: {
        slidesPerView: slidesPerView[1280] || 4,
      },
      1920: {
        slidesPerView: slidesPerView[1920] || 4,
      },
    },
    grabCursor: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    keyboard: {
      enabled: true,
    },
  } as SwiperOptions);
</script>
