---
import Typography from './Typography.astro';
---

<div class="card h-96 w-full rounded-lg bg-white shadow-lg">
  <div class="card-inner">
    <!-- Front Side -->
    <div class="card-front">
      <img src="/img/mock/article.webp" alt="Article" class="w-full object-cover" />
      <div class="mt-auto px-5 py-7">
        <Typography as="p" variant="caption" class="mb-1 text-primary">John Doe</Typography>
        <Typography as="p" variant="accent" class="font-nexaLight text-primary">CEO</Typography>
      </div>
    </div>

    <!-- Back Side -->
    <div class="card-back p-10">
      <Typography as="p" variant="caption" class="mb-1 text-primary">John Doe</Typography>
      <Typography as="p" variant="accent" class="font-nexaLight text-primary">CEO</Typography>
      <Typography as="p" variant="paragraph2" class="text-grayish">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem commodi cum deleniti
        dicta, dolore labore obcaecati quaerat quos recusandae rerum suscipit, velit veniam vitae
        voluptatum. Accusamus doloremque eos et facilis fuga hic inventore ipsam, necessitatibus
        numquam pariatur perspiciatis porro quia ratione rem repellendus totam unde vel velit
        voluptatem, voluptatum?
      </Typography>
    </div>
  </div>
</div>

<style>
  .card {
    perspective: 1000px;
  }
  .card-inner {
    @apply relative flex h-full w-full flex-col transition duration-500;
    transform-style: preserve-3d;
  }
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  .card-front,
  .card-back {
    @apply absolute inset-0 flex h-full w-full flex-col bg-white;
    backface-visibility: hidden;
    border-radius: 0.5rem;
  }
  .card-front {
    background-color: white;
  }
  .card-back {
    transform: rotateY(180deg);
  }
</style>
