---
import NavLinks from '@/components/NavLinks.astro';
import SocialIcons from '@/components/SocialIcons.astro';
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@/i18n/utils';
import CISLogo from '@/icons/CIS.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<div class="sticky left-0 right-0 top-0 z-20 max-h-screen bg-transparent">
  <header class="container mx-auto">
    <nav class="flex h-[var(--header-height)] items-center justify-between">
      <a href={translatePath('/', lang)} aria-label={t('aria.home-link')}>
        <CISLogo />
      </a>

      <NavLinks />

      <SocialIcons />

      <a
        class="rounded-full border-2 px-6 py-2.5 font-roboto text-xs uppercase text-white transition hover:bg-white hover:text-primary"
        href={translatePath('/contact-us', lang)}
        aria-label={t('aria.contact-us-link')}
      >
        {t('common.contact-us')}
      </a>
    </nav>
  </header>
</div>
