---
import Menu from '@/icons/Menu.astro';
import NavLinks from '@/components/NavLinks.astro';
import SocialIcons from '@/components/SocialIcons.astro';
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@/i18n/utils';
import CISLogo from '@/icons/CIS.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<div class="sticky left-0 right-0 top-0 z-[1000] max-h-screen bg-transparent" id="sticky-header">
  <header class="mx-auto px-4 2xl:container md:px-10 2xl:px-0">
    <nav class="flex h-[var(--header-height)] items-center justify-between">
      <a class="hidden md:inline" href={translatePath('/', lang)} aria-label={t('aria.home-link')}>
        <CISLogo />
      </a>

      <a class="md:hidden" href={translatePath('/', lang)} aria-label={t('aria.home-link')}>
        <img src="/img/logo/cis-logo-white.webp" alt={t('alt.logo')} height="35" width="30" />
      </a>

      <NavLinks />

      <SocialIcons />

      <a
        class="hidden rounded-full border-2 px-6 py-2.5 font-roboto text-xs uppercase text-white transition hover:bg-white hover:text-primary lg:inline"
        href={translatePath('/contact-us', lang)}
        aria-label={t('aria.contact-us-link')}
      >
        {t('common.contact-us')}
      </a>

      <Menu class="h-12 w-12 text-white lg:hidden" />
    </nav>
  </header>
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    const header = document.getElementById('sticky-header');

    if (header && window.scrollY > 0) {
      header.classList.add('scrolled');
    }

    window.addEventListener('scroll', () => {
      if (!header) return;

      if (window.scrollY > 0) {
        header.classList.add('scrolled');
        return;
      }

      header.classList.remove('scrolled');
    });
  });
</script>

<style>
  #sticky-header.scrolled {
    @apply bg-primary-with-transparency;
  }
</style>
