---
import LinkPill from './LinkPill.astro';
import Menu from '@/icons/Menu.astro';
import XIcon from '@/icons/XIcon.astro';
import NavLinks from '@/components/NavLinks.astro';
import SocialIcons from '@/components/SocialIcons.astro';
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@/i18n/utils';
import CISLogo from '@/icons/CIS.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const DYNAMIC_PAGES = ['blog', 'projects'];
const pathname = Astro.url.pathname;

let isTransparentBackground = true;

if (DYNAMIC_PAGES.some((page) => pathname.includes(page))) {
  const paths = pathname.split('/').filter((value) => value !== '' && value !== 'es');
  isTransparentBackground = paths.length === 1;
}
---

<div
  class:list={[
    'sticky left-0 right-0 top-0 z-[1000] max-h-screen',
    {
      'bg-primary': !isTransparentBackground,
      'bg-transparent': isTransparentBackground,
    },
  ]}
  id="sticky-header"
>
  <header class="mx-auto px-4 2xl:container md:px-5 lg:px-10 min-[1546px]:px-0">
    <nav class="flex h-[var(--header-height)] items-center justify-between">
      <a class="hidden md:inline" href={translatePath('/', lang)} aria-label={t('aria.home-link')}>
        <CISLogo />
      </a>

      <a class="md:hidden" href={translatePath('/', lang)} aria-label={t('aria.home-link')}>
        <img src="/img/logo/cis-logo-white.webp" alt={t('alt.logo')} height="35" width="30" />
      </a>

      <NavLinks />

      <SocialIcons />

      <LinkPill
        variant="outlined"
        class="hidden lg:inline-block"
        href={translatePath('/contact-us', lang)}
        aria-label={t('aria.contact-us-link')}
      >
        {t('common.contact-us')}
      </LinkPill>

      <Menu id="menu-icon" class="h-12 w-12 text-white lg:hidden" />
    </nav>
  </header>

  <div
    id="drawer"
    class="fixed inset-0 -translate-x-full transform bg-primary text-white transition-transform duration-300 md:hidden"
  >
    <div class="flex items-center justify-between border-b-2 px-4 py-8">
      <CISLogo />
      <XIcon id="close-icon" />
    </div>

    <nav class="p-4">
      <NavLinks isDrawer class="!flex flex-col !items-start" />
    </nav>
  </div>
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    const header = document.getElementById('sticky-header');
    const menuIcon = document.getElementById('menu-icon');
    const drawer = document.getElementById('drawer');
    const closeIcon = document.getElementById('close-icon');

    if (header && window.scrollY > 0) {
      header.classList.add('scrolled');
    }

    window.addEventListener('scroll', () => {
      if (!header) return;

      if (window.scrollY > 0) {
        header.classList.add('scrolled');
        return;
      }

      header.classList.remove('scrolled');
    });

    if (!drawer || !menuIcon || !closeIcon) return;

    menuIcon.addEventListener('click', () => {
      drawer.classList.toggle('-translate-x-full');
    });

    closeIcon.addEventListener('click', () => {
      drawer.classList.toggle('-translate-x-full');
    });
  });
</script>

<style>
  #sticky-header.scrolled {
    @apply bg-primary-with-transparency;
  }
</style>
