---
import type { Background } from '@/types/Background';

interface Props {
  containerClass?: string;
  class?: string;
  background?: Background;
  is404?: boolean;
}

const backgroundClasses: {
  [key: string]: string;
} = {
  white: 'bg-fog-white',
  blue: 'bg-primary',
  bulbs: 'bg-primary bg-light-bulbs bg-center bg-repeat',
};

const actualBackground = backgroundClasses[Astro.props.background ?? 'white'];
---

<div
  class:list={[
    'relative py-10 md:py-20',
    actualBackground,
    Astro.props.containerClass,
    {
      'bg-404': Astro.props.is404,
    },
  ]}
>
  {
    Astro.props?.background === 'bulbs' && (
      <div class="absolute inset-0 z-10 bg-gradient-to-r from-primary-with-transparency to-transparent" />
    )
  }

  <section class:list={['mx-auto px-4 2xl:container md:px-10 2xl:px-0', Astro.props.class]}>
    <slot />
  </section>
</div>

<style>
  .bg-404 {
    background-image: linear-gradient(
        123deg,
        rgba(40, 64, 128, 1) 0%,
        rgba(39, 170, 225, 1) 31%,
        transparent 75%
      ),
      url('/img/backgrounds/404.svg');
    background-size: cover;
    background-position: top;
  }
</style>
