---
import Image from 'astro/components/Image.astro';
import Typography from './Typography.astro';
import type { GoogleReview } from '@/types/strapi/Review';
import starIcon from '@/assets/ui/start.svg';

interface Props {
  class?: string;
  review: GoogleReview;
  language?: 'es' | 'en';
}

const { review, class: className, language = 'en' } = Astro.props;

function getComment() {
  if (language === 'en') {
    return review.englishComment;
  }

  return review.spanishComment ?? review.englishComment;
}
---

<article
  class:list={[
    'swiper-slide !flex !h-auto flex-col gap-5 rounded-xl bg-white px-5 py-10',
    className,
  ]}
>
  <div class="flex flex-col gap-2">
    <div class="flex items-center gap-5">
      {
        review.reviewer?.profilePhotoUrl && (
          <img
            class="h-[45px] w-[45px] rounded-full"
            alt={review.reviewer?.displayName ?? '--'}
            src={review.reviewer?.profilePhotoUrl ?? ''}
            loading="lazy"
            decoding="async"
          />
        )
      }
      <Typography class="text-center text-primary" as="p" variant="accent">
        {review.reviewer?.displayName ?? '--'}
      </Typography>
    </div>
    <div class="flex items-center gap-1">
      {
        Array.from({ length: review.rating }).map((_, index) => (
          <Image class="h-[15px] w-[15px]" alt="star" src={starIcon} width={15} height={15} />
        ))
      }
    </div>
  </div>
  <Typography class="line-clamp-[10] text-center text-primary" as="p" variant="paragraph2">
    {getComment()}
  </Typography>
</article>
