---
import FacebookIcon from '@/icons/Facebook.astro';
import InstagramIcon from '@/icons/Instagram.astro';
import LinkedInIcon from '@/icons/LinkedIn.astro';
import TwitterIcon from '@/icons/Twitter.astro';
import UpworkIcon from '@/icons/Upwork.astro';
import YoutubeIcon from '@/icons/Youtube.astro';
---

<ul class="flex items-center gap-3">
  <li>
    <a
      target="_blank"
      href="https://www.facebook.com/crazyimaginedev"
      rel="noopener"
      aria-label="Facebook de Crazy Imagine Software, se abrirá en una nueva pestaña"
    >
      <FacebookIcon class="text-sky-blue transition-transform hover:scale-125" />
    </a>
  </li>

  <li>
    <a
      target="_blank"
      href="https://twitter.com/CrazyImagineDev"
      rel="noopener"
      aria-label="Facebook de Crazy Imagine Software, se abrirá en una nueva pestaña"
    >
      <TwitterIcon class="text-sky-blue transition-transform hover:scale-125" />
    </a>
  </li>

  <li>
    <a
      target="_blank"
      href="https://ve.linkedin.com/company/crazy-imagine-software"
      rel="noopener"
      aria-label="Facebook de Crazy Imagine Software, se abrirá en una nueva pestaña"
    >
      <LinkedInIcon class="text-sky-blue transition-transform hover:scale-125" />
    </a>
  </li>

  <li>
    <a
      target="_blank"
      href="https://instagram.com/crazyimaginedev?igshid=YmMyMTA2M2Y="
      rel="noopener"
      aria-label="Facebook de Crazy Imagine Software, se abrirá en una nueva pestaña"
    >
      <InstagramIcon class="text-sky-blue transition-transform hover:scale-125" />
    </a>
  </li>

  <li>
    <a
      target="_blank"
      href="https://www.youtube.com/@crazyimaginedev"
      rel="noopener"
      aria-label="Facebook de Crazy Imagine Software, se abrirá en una nueva pestaña"
    >
      <YoutubeIcon class="text-sky-blue transition-transform hover:scale-125" />
    </a>
  </li>

  <li>
    <a
      target="_blank"
      href="https://www.upwork.com/ag/crazyimagine"
      rel="noopener"
      aria-label="Facebook de Crazy Imagine Software, se abrirá en una nueva pestaña"
    >
      <UpworkIcon class="scale-100 text-sky-blue transition-transform hover:scale-125" />
    </a>
  </li>
</ul>
