---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import FacebookIcon from '@/icons/Facebook.astro';
import InstagramIcon from '@/icons/Instagram.astro';
import LinkedInIcon from '@/icons/LinkedIn.astro';
import TwitterIcon from '@/icons/Twitter.astro';
import UpworkIcon from '@/icons/Upwork.astro';
import YoutubeIcon from '@/icons/Youtube.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ul class:list={['hidden items-center gap-1 lg:flex xl:gap-3', Astro.props.class]}>
  <li>
    <a
      target="_blank"
      href="https://www.facebook.com/crazyimaginedev"
      rel="noopener"
      aria-label={t('aria.facebook-link')}
    >
      <FacebookIcon class="text-sky-blue transition-transform hover:scale-125" />
    </a>
  </li>

  <li>
    <a
      target="_blank"
      href="https://twitter.com/CrazyImagineDev"
      rel="noopener"
      aria-label={t('aria.twitter-link')}
    >
      <TwitterIcon class="text-sky-blue transition-transform hover:scale-125" />
    </a>
  </li>

  <li>
    <a
      target="_blank"
      href="https://ve.linkedin.com/company/crazy-imagine-software"
      rel="noopener"
      aria-label={t('aria.linkedin-link')}
    >
      <LinkedInIcon class="text-sky-blue transition-transform hover:scale-125" />
    </a>
  </li>

  <li>
    <a
      target="_blank"
      href="https://instagram.com/crazyimaginedev?igshid=YmMyMTA2M2Y="
      rel="noopener"
      aria-label={t('aria.instagram-link')}
    >
      <InstagramIcon class="text-sky-blue transition-transform hover:scale-125" />
    </a>
  </li>

  <li>
    <a
      target="_blank"
      href="https://www.youtube.com/@crazyimaginedev"
      rel="noopener"
      aria-label={t('aria.youtube-link')}
    >
      <YoutubeIcon class="text-sky-blue transition-transform hover:scale-125" />
    </a>
  </li>

  <li>
    <a
      target="_blank"
      href="https://www.upwork.com/ag/crazyimagine"
      rel="noopener"
      aria-label={t('aria.upwork-link')}
    >
      <UpworkIcon class="text-sky-blue transition-transform hover:scale-125" />
    </a>
  </li>
</ul>
