---
import ResponsiveContainer from '@/components/ResponsiveContainer.astro';
import Typography from '@/components/Typography.astro';

interface Props {
  author?: string;
  category: string;
  description: string;
  title: string;
}

const { author, category, description, title } = Astro.props;
---

<ResponsiveContainer>
  <div class="mb-12">
    <Typography
      as="span"
      variant="caption"
      class="rounded-md bg-primary px-5 py-3.5 uppercase text-white"
    >
      {category}
    </Typography>
  </div>

  <Typography as="h1" variant="blogTitle" class="text-primary">{title}</Typography>

  {
    author && (
      <Typography
        as="p"
        variant="caption"
        class="my-10 border-l-2 border-primary py-2.5 pl-5 text-primary"
      >
        {author}
      </Typography>
    )
  }

  <Typography as="p" variant="paragraph" class="text-grayish">
    {description}
  </Typography>
</ResponsiveContainer>
