---
import Atom from '@/icons/Atom.astro';
import GhostAstronaut from '@/icons/GhostAstronaut.astro';
import Ovni from '@/icons/Ovni.astro';
import PCWithRocket from '@/icons/PCWithRocket.astro';
import Planet from '@/icons/Planet.astro';
import PlanetWithFlag from '@/icons/PlanetWithFlag.astro';
import ResponsiveContainer from '@/components/ResponsiveContainer.astro';
import Rocket from '@/icons/Rocket.astro';
import Telescope from '@/icons/Telescope.astro';
import Typography from '@/components/Typography.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div>
  <ResponsiveContainer
    class="grid grid-cols-1 gap-4 py-10 sm:grid-cols-2 md:py-20 lg:grid-cols-3"
    as="section"
  >
    <div class="flex gap-5 bg-[#f8f8f8] p-6 shadow-lg">
      <div class="flex h-16 w-16 items-center justify-center rounded-md bg-primary px-3">
        <PlanetWithFlag class="bg-primary text-white" />
      </div>

      <div>
        <Typography class="text-primary" as="p" variant="accent">
          {t('about.references-title')}
        </Typography>

        <Typography class="text-grayish" as="p" variant="paragraph2">
          {t('about.references-description')}
        </Typography>
      </div>
    </div>

    <div class="flex gap-5 bg-[#f8f8f8] p-6 shadow-lg">
      <div class="flex h-16 w-16 items-center justify-center rounded-md bg-primary px-3">
        <Telescope class="text-white" />
      </div>

      <div>
        <Typography class="text-primary" as="p" variant="accent">
          {t('about.meet-the-team-title')}
        </Typography>

        <Typography class="text-grayish" as="p" variant="paragraph2">
          {t('about.meet-the-team-description')}
        </Typography>
      </div>
    </div>

    <div class="flex gap-5 bg-[#f8f8f8] p-6 shadow-lg">
      <div class="flex h-16 w-16 items-center justify-center rounded-md bg-primary px-3">
        <PCWithRocket class="text-white" />
      </div>

      <div>
        <Typography class="text-primary" as="p" variant="accent">
          {t('about.blog-title')}
        </Typography>

        <Typography class="text-grayish" as="p" variant="paragraph2">
          {t('about.blog-description')}
        </Typography>
      </div>
    </div>

    <div class="flex gap-5 bg-[#f8f8f8] p-6 shadow-lg">
      <div class="flex h-16 w-16 items-center justify-center rounded-md bg-primary px-3">
        <PCWithRocket class="text-white" />
      </div>

      <div>
        <Typography class="uppercase text-primary" as="p" variant="accent">
          {t('about.faq-title')}
        </Typography>

        <Typography class="text-grayish" as="p" variant="paragraph2">
          {t('about.faq-description')}
        </Typography>
      </div>
    </div>

    <div class="flex gap-5 bg-[#f8f8f8] p-6 shadow-lg">
      <div class="flex h-16 w-16 items-center justify-center rounded-md bg-primary px-3">
        <Ovni class="text-white" />
      </div>

      <div>
        <Typography class="text-primary" as="p" variant="accent">
          {t('about.mission-title')}
        </Typography>

        <Typography class="text-grayish" as="p" variant="paragraph2">
          {t('about.mission-description')}
        </Typography>
      </div>
    </div>

    <div class="flex gap-5 bg-[#f8f8f8] p-6 shadow-lg">
      <div class="flex h-16 w-16 items-center justify-center rounded-md bg-primary px-3">
        <GhostAstronaut class="text-white" />
      </div>

      <div>
        <Typography class="text-primary" as="p" variant="accent">
          {t('about.who-we-are-title')}
        </Typography>

        <Typography class="text-grayish" as="p" variant="paragraph2">
          {t('about.who-we-are-description')}
        </Typography>
      </div>
    </div>

    <div class="flex gap-5 bg-[#f8f8f8] p-6 shadow-lg">
      <div class="flex h-16 w-16 items-center justify-center rounded-md bg-primary px-3">
        <Atom class="text-white" />
      </div>

      <div>
        <Typography class="text-primary" as="p" variant="accent">
          {t('about.roadmap-title')}
        </Typography>

        <Typography class="text-grayish" as="p" variant="paragraph2">
          {t('about.roadmap-description')}
        </Typography>
      </div>
    </div>

    <div class="flex gap-5 bg-[#f8f8f8] p-6 shadow-lg">
      <div class="flex h-16 w-16 items-center justify-center rounded-md bg-primary px-3">
        <Rocket class="text-white" />
      </div>

      <div>
        <Typography class="text-primary" as="p" variant="accent">
          {t('about.working-together-title')}
        </Typography>

        <Typography class="text-grayish" as="p" variant="paragraph2">
          {t('about.working-together-description')}
        </Typography>
      </div>
    </div>

    <div class="flex gap-5 bg-[#f8f8f8] p-6 shadow-lg">
      <div class="flex h-16 w-16 items-center justify-center rounded-md bg-primary px-3">
        <Planet class="text-white" />
      </div>

      <div>
        <Typography class="text-primary" as="p" variant="accent">
          {t('about.work-with-us-title')}
        </Typography>

        <Typography class="text-grayish" as="p" variant="paragraph2">
          {t('about.work-with-us-description')}
        </Typography>
      </div>
    </div>
  </ResponsiveContainer>
</div>
