---
import Carousel from '@/components/Carousel.astro';
import CarouselCard from '@/components/CarouselCard.astro';
import ResponsiveContainer from '@/components/ResponsiveContainer.astro';
import Typography from '@/components/Typography.astro';
import type { CarouselCardData } from '@/types/Carousel';

interface Props {
  type: 'blue' | 'white';
  class?: string;
  cardClass?: string;
  title: string;
  data: CarouselCardData[];
  linkText: string;
}

const { title, data, type, linkText } = Astro.props;

const isWhite = type === 'white';
---

<div
  class:list={[
    'relative w-full py-14',
    {
      'bg-primary bg-light-bulbs bg-repeat': !isWhite,
    },
    Astro.props.class,
  ]}
>
  <div
    class:list={[
      'absolute inset-0 z-10 bg-gradient-to-r from-custom-primary to-transparent',
      { hidden: isWhite },
    ]}
  >
  </div>

  <ResponsiveContainer class="relative z-50" as="section">
    <Typography
      class:list={[
        'mb-10 text-center capitalize',
        {
          'text-primary': isWhite,
          'text-white': !isWhite,
        },
      ]}
      as="h2"
      variant="h2"
    >
      {title}
    </Typography>

    <Carousel>
      {
        data.map((value) => (
          <CarouselCard
            {...value}
            class:list={[
              {
                'shadow-md': isWhite,
              },
            ]}
            linkText={linkText}
          />
        ))
      }
    </Carousel>

    <slot />
  </ResponsiveContainer>
</div>
