---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

interface Props {
  heroTitle: string;
  heroSubtitle: string;
  scheduleCall: boolean;
}

const { heroTitle, heroSubtitle, scheduleCall } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  class="relative -mt-[var(--header-height)] h-[680px] w-full bg-cover bg-center bg-no-repeat px-[60px] py-20"
>
  <div class="absolute inset-0 bg-gradient-to-b from-transparent to-primary"></div>

  <div
    class="container relative z-10 mx-auto flex h-full w-full items-center rounded-xl bg-secondary text-white"
  >
    <div class="gap-4 pl-[100px]">
      <h1 class="font-nexaBold text-h1 font-bold capitalize">
        {heroTitle}
      </h1>

      <p class="my-10 font-nexaLight text-body1 uppercase tracking-widest">
        {heroSubtitle}
      </p>

      {
        scheduleCall && (
          <button class="rounded-full bg-blue-purple px-5 py-4 font-nexaLight text-button uppercase">
            {t('hero.home-button')}
          </button>
        )
      }
    </div>

    <div class="flex-shrink-0 basis-[350px] place-self-end">
      <img
        class="h-auto w-full max-w-[349px]"
        width="349"
        height="459"
        src="/img/ui/home-hero.webp"
        alt={t('alt.home-hero')}
      />
    </div>
  </div>
</section>

<style>
  section {
    background-image: url('/img/ui/hero-background.webp');
  }
</style>
