---
import ResponsiveContainer from '@/components/ResponsiveContainer.astro';
import Typography from '@/components/Typography.astro';
import SuscribeForm from '@/components/react/SuscribeForm';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="bg-primary bg-light-bulbs bg-center bg-repeat">
  <ResponsiveContainer
    class="md:gap-50 flex flex-col items-end items-center py-10 md:flex-row md:py-10 lg:gap-40"
    as="section"
  >
    <div class="flex-col items-center pb-5">
      <Typography class="pb-2 text-center text-white" as="h1" variant="h3">
        {t('forms.title')}
      </Typography>

      <Typography class="text-center tracking-wider text-white" as="p" variant="h6">
        {t('forms.subtitle')}
      </Typography>
    </div>

    <div class="w-full rounded-lg bg-white px-10 py-10 shadow">
      <SuscribeForm url={Astro.url} client:visible />
    </div>
  </ResponsiveContainer>
</div>
