<section class="relative w-full bg-primary py-14">
  <div class="flex items-center py-20">
    <div class="flex-col">
      <h1
        class="font-nexaBold text-xl font-bold capitalize leading-7 sm:text-xl sm:leading-5 lg:text-[30px]"
      >
        News and Updates
      </h1>
      <h2 class="my-10 items-center font-nexaLight text-xs text-black lg:text-sm">
        Get insight into our latest projects, news related to popular technologies, and updates on
        our services
      </h2>
    </div>
  </div>

  <div class="rounded-lg bg-white shadow">
    <form class="flex">
      <div class="mb-6 flex flex-col gap-5 md:flex-row">
        <button
          class="rounded-full bg-blue-purple px-5 py-4 font-nexaLight uppercase text-white"
          type="submit">Suscribirse</button
        >
      </div>
    </form>
  </div>
</section>
