---
import ResponsiveContainer from '@/components/ResponsiveContainer.astro';
import Typography from '@/components/Typography.astro';
import SuscribeForm from '@/components/react/SuscribeForm';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ResponsiveContainer
  class="flex w-full flex-col items-center bg-primary py-10 md:flex-row md:gap-5 md:py-10 lg:gap-5"
  as="section"
>
  <div class="flex-col items-center px-5 py-20">
    <Typography class="text-center text-white" as="h1" variant="h3">
      {t('forms.title')}
    </Typography>

    <Typography class="text-center text-white" as="p" variant="h6">
      {t('forms.subtitle')}
    </Typography>
  </div>

  <div class="flex-row rounded-lg bg-white px-5 py-5 shadow">
    <SuscribeForm url={Astro.url} client:visible />
  </div>
</ResponsiveContainer>
