---
import ResponsiveContainer from '@/components/ResponsiveContainer.astro';
import Typography from '@/components/Typography.astro';
import SuscribeForm from '@/components/react/SuscribeForm';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ResponsiveContainer
  background="bulbs"
  class="md:gap-50 flex flex-col items-center gap-10 md:flex-row lg:gap-20 xl:gap-40"
>
  <div class="z-20">
    <Typography class="pb-2 text-center text-white" as="h2" variant="h3">
      {t('common.news-and-updates')}
    </Typography>

    <Typography class="text-center tracking-wider text-white" as="p" variant="h6">
      {t('common.news-and-updates-description')}
    </Typography>
  </div>

  <div class="z-20 w-full rounded-lg bg-white px-10 py-10">
    <SuscribeForm url={Astro.url} client:visible />
  </div>
</ResponsiveContainer>
