---
import { Image } from 'astro:assets';
import ResponsiveContainer from '@/components/ResponsiveContainer.astro';
import Satellite from '@/assets/ui/satellite.webp';
import Typography from '@/components/Typography.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ResponsiveContainer
  containerClass="md:!py-0"
  class="flex flex-col items-center md:flex-row md:gap-5 lg:gap-20"
>
  <div class="w-full md:basis-1/4">
    <Typography
      as="h3"
      variant="accent"
      class="text-center uppercase tracking-widest text-periwinkle"
    >
      {t('common.reach.out')}
    </Typography>
    <Typography as="p" variant="h4" class="px-16 text-center capitalize tracking-wide text-primary">
      {t('common.imagine-what-we-can-create')}
    </Typography>

    <div class="relative text-center">
      <div class="absolute inset-x-0 bottom-0 h-20 rounded-t-2xl bg-secondary"></div>
      <Image class="relative z-10 mx-auto" src={Satellite} alt="Satellite" />
    </div>
  </div>
  <div class="w-full pb-0 pt-10 md:basis-3/4">
    <script
      is:inline
      data-astro-rerun
      type="text/javascript"
      src="https://api.clientify.net/web-marketing/superforms/script/260234.js"></script>
    <!-- <ContactForm url={Astro.url} client:idle /> -->
  </div>
</ResponsiveContainer>
