---
import ResponsiveContainer from '@/components/ResponsiveContainer.astro';
import Typography from '@/components/Typography.astro';
import WorkWithUsForm from '@/components/react/WorkWithUsForm';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ResponsiveContainer
  class="md:gap-50 flex flex-col items-center gap-10 md:flex-row lg:gap-20 xl:gap-40"
>
  <div class="flex flex-row">
    <Typography class="px-5 text-center text-primary" as="h1" variant="h3">
      {t('common.work-with-us')}
    </Typography>

    <div class="z-20 w-full rounded-lg bg-secondary px-10 py-10">
      <WorkWithUsForm url={Astro.url} client:visible />
    </div>
  </div>
</ResponsiveContainer>
