---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import Typography from '@/components/Typography.astro';
import Layout from '@/layouts/Layout.astro';

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/landing/*.webp');
---

<Layout
  seo={{
    metaTitle: 'Gracias por contactarnos',
    metaDescription: 'Gracias por contactarnos',
  }}
  hiddenFooter
>
  <div
    class="lg:[120px] relative -mt-[var(--header-height)] h-screen w-full overflow-hidden bg-secondary bg-gradient-to-b from-transparent to-primary p-2 pt-[130px] text-white md:to-primary-with-transparency md:px-[40px] lg:px-[80px] lg:pb-10 min-[1546px]:px-[120px]"
  >
    <div class="mx-auto flex h-full items-center gap-10 2xl:container">
      <div
        class="relative flex w-full flex-col justify-center gap-[30px] md:w-[55%] xl:w-[65%] xl:gap-[60px]"
      >
        <Typography
          as="p"
          variant="h2"
          class="lg:!text-[60px z-[2] text-center text-[35px] uppercase !leading-[50px] md:text-left md:!text-[50px] xl:!text-[70px] xl:!leading-[88px]"
        >
          ¡Gracias por contactarnos!
        </Typography>
        <Typography
          as="p"
          variant="h3"
          class="text-center md:text-left md:!text-[25px] lg:!text-[30px]"
        >
          Tu mensaje ha sido recibido con éxito y nuestro equipo ya está revisando la información
          que nos proporcionaste
        </Typography>
        <Typography
          as="p"
          variant="h3"
          class="text-center md:text-left md:!text-[25px] lg:!text-[30px]"
        >
          ¡Estamos emocionados de colaborar contigo y llevar tus ideas al siguiente nivel!
        </Typography>
        <Typography
          as="a"
          target={'_blank'}
          variant="h3"
          href="https://crazyimagine.com/"
          class="mt-10 w-fit self-center rounded-[40px] bg-white p-4 px-10 text-center text-secondary shadow-lg md:px-20 md:!text-[30px] xl:p-6 xl:!text-[50px]"
        >
          Ir al sitio web
        </Typography>
        <Image
          src={images['/src/assets/landing/stars.webp']()}
          alt={'planet'}
          class="absolute -left-[26px] bottom-[400px] z-[1] w-[250px] md:-left-[65px] md:bottom-[560px] lg:w-[350px] xl:bottom-[630px]"
        />
      </div>
      <div
        class="hidden h-full scale-x-[-1] transform bg-thanks-page bg-contain bg-center bg-no-repeat md:relative md:block md:w-[45%] xl:w-[35%]"
      >
        <Image
          src={images['/src/assets/landing/astronauta2.webp']()}
          alt="Gracias por contactarnos"
          class="image-thanks-position absolute w-full scale-x-[-1] transform md:h-[500px] xl:h-[700px]"
        />
      </div>
    </div>
  </div>
</Layout>
