---
import Hero from '@/sections/Hero.astro';
import LatestProjects from '@/sections/LatestProjects.astro';
import Layout from '@/layouts/Layout.astro';
import LinkPill from '@/components/LinkPill.astro';
import Partners from '@/sections/Partners.astro';
import ReachOut from '@/sections/ReachOut.astro';
import Reviews from '@/sections/Reviews.astro';
import Services from '@/sections/Services.astro';
import Typography from '@/components/Typography.astro';
import CrazyBanner from '@/components/CrazyBanner.astro';
import fetchApi from '@/lib/strapi';
import type { PageInfo } from '@/types/strapi/PageInfo';
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@/i18n/utils';
import Newsletter from '@/components/Newsletter.astro';
import Experience from '@/sections/Experience.astro';
import ServicesCardsContent from '@/components/Services/ServicesCardsContent.astro';

const pageInfo = await fetchApi<PageInfo>({
  endpoint: 'home-page',
  params: {
    locale: Astro.currentLocale,
    populate: {
      seo: true,
      hero: {
        fields: true,
        populate: {
          image: {
            fields: ['url', 'width', 'height', 'formats', 'alternativeText'],
          },
        },
      },
    },
  },
});

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const translatePath = useTranslatedPath(lang);
---

<Layout seo={pageInfo.data.attributes.seo} canonical="https://crazyimagine.com/es">
  <Hero {...pageInfo.data.attributes.hero}>
    <LinkPill slot="button" variant="contained" href={translatePath('/contact-us', lang)}>
      {t('common.home-hero-button')}
    </LinkPill>
  </Hero>

  <Partners />

  <Experience />

  <Services
    img={{
      path: '/src/assets/ui/light-bulb.webp',
      alt: t('alt.light-bulb'),
    }}
  >
    <Typography slot="main-text" class="capitalize text-primary" variant="h2" as="h2">
      {t('services.a-technology-partner-for')}
      <span class="text-secondary">{' '}{t('services.every-stage-of-your-growth')}</span>
    </Typography>
    <Typography slot="description" class="mt-5" variant="paragraph" as="p">
      {t('services.we-will-help-you-strategize')}
    </Typography>

    <ServicesCardsContent slot="cards" />
  </Services>

  <LatestProjects background="bulbs" title={t('common.previous-projects')} />

  <Reviews background="white" />

  <Newsletter />

  <ReachOut />

  <CrazyBanner />
</Layout>
