---
import Hero from '@/sections/Hero.astro';
import Layout from '@/layouts/Layout.astro';
import Services from '@/sections/Services.astro';
import Typography from '@/components/Typography.astro';
import fetchApi from '@/lib/strapi';
import type { Mission } from '@/types/strapi/pages/Mission';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const mission = await fetchApi<Mission>({
  endpoint: 'mission-page',
  params: {
    locale: Astro.currentLocale,
    populate: {
      seo: true,
      hero: {
        fields: true,
        populate: {
          image: {
            fields: ['url', 'width', 'height', 'formats', 'alternativeText'],
          },
        },
      },
    },
  },
});

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout seo={mission.data.attributes.seo}>
  <Hero {...mission.data.attributes.hero} />

  <Services
    img={{
      path: '/src/assets/ui/comet.webp',
      alt: t('alt.comet'),
      bgColor: 'bg-primary',
    }}
  >
    <Typography slot="main-text" as="h2" variant="h2" class="mb-5 text-primary">
      {t('mission.our-mission')}:
      <span class="text-secondary">
        {t('mission.what-we-want-to-achieve')}
      </span>
    </Typography>

    <Typography slot="description" as="p" variant="accent" class="text-primary">
      {mission.data.attributes.description_mission}
    </Typography>
  </Services>

  <Services
    img={{
      path: '/src/assets/ui/telescope.webp',
      alt: t('alt.telescope'),
      bgColor: 'bg-secondary',
    }}
  >
    <Typography slot="main-text" as="h2" variant="h2" class="mb-5 text-primary">
      {t('mission.our-vision')}:
      <span class="text-secondary">
        {t('mission.how-we-see-in-the-future')}
      </span>
    </Typography>

    <Typography slot="description" as="p" variant="accent" class="text-primary">
      {mission.data.attributes.subtitle_vission}
    </Typography>
  </Services>
</Layout>
