---
import { ViewTransitions } from 'astro:transitions';

import '@fontsource/roboto';
import 'sweetalert2/dist/sweetalert2.min.css';
import Footer from '@/sections/Footer.astro';
import Header from '@/components/Header.astro';
import SEO from '@/components/SEO.astro';
import GoogleTagNoScript from '@/components/external-scripts/GoogleTagNoScript.astro';
import type { SEO as ISeo } from '@/types/strapi/SEO';
import MetricoolScript from '@/components/external-scripts/MetricoolScript.astro';

interface Props {
  canonical?: string;
  seo: ISeo;
  hrefLangPathname?: string;
  image?: string;
  hiddenFooter?: boolean;
}
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <SEO {...Astro.props} />
    <ViewTransitions />
  </head>
  <body class="w-full overflow-x-hidden bg-fog-white">
    <GoogleTagNoScript />
    <MetricoolScript />
    <main>
      <Header />
      <slot />
      {!Astro.props.hiddenFooter && <Footer />}
    </main>

    <style is:global>
      :root {
        --color-primary: #193174;
        --color-secondary: #27aae1;
        --color-accent: #67daff;
        --color-blue-purple: #797ef6;
        --color-grayish: #a4a4a6;
        --color-slate-gray: #4f4f4f;
        --color-smoke: rgba(235, 235, 235, 0.5);
        --color-periwinkle: #888dff;
        --color-sky-blue: #a7e4f5;
        --color-fog-white: #fafafa;
        ---color-green-contact: #52e75c;
        --color-primary-with-transparency: rgba(25, 49, 116, 0.65);
        --color-blue-purple-contrast: #595dc3;
        --header-height: 90px;
      }

      @font-face {
        font-family: 'Nexa Bold';
        src: url('/fonts/Nexa-Bold.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Nexa Light';
        src: url('/fonts/Nexa-Light.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      html {
        font-family: system-ui, 'Nexa Bold', 'Nexa Light', 'Roboto', sans-serif;
        background: #fff;
      }

      .card {
        perspective: 1000px;
      }
      .card-inner {
        @apply relative flex h-full w-full flex-col transition duration-500;
        transform-style: preserve-3d;
      }
      .card:hover .card-inner {
        transform: rotateY(180deg);
      }
      .card-front,
      .card-back {
        @apply absolute inset-0 flex h-full w-full flex-col rounded-lg bg-white shadow-md;
        backface-visibility: hidden;
      }
      .card-back {
        transform: rotateY(180deg);
      }

      /* Floating Button */
      .text-button {
        @apply max-w-[40px]; /* Inicia con el ancho de la imagen */
        @apply transition-all duration-700;
        width: 0;
      }

      .text-button,
      .text-content {
        opacity: 0;
      }

      .text-button.expanded {
        @apply max-w-[300px]; /* Expande el contenedor para mostrar todo el texto */
        width: 250px;
        /* opacity: 100; */
      }

      .text-content {
        @apply translate-x-full opacity-0;
        @apply transition-all duration-700;
      }

      .text-button,
      .text-content.visible {
        @apply translate-x-0 opacity-100;
      }

      /* Swiper arrows */
      .swiper-button-landing-prev:after,
      .swiper-button-landing-next:after {
        color: white;
        font-weight: 900;
      }

      @media screen and (max-width: 769px) {
        .swiper-button-landing-prev,
        #custom-prev {
          left: 10px; /* Posici칩n para pantallas muy peque침as */
        }
        .swiper-button-landing-next,
        #custom-next {
          right: 10px; /* Posici칩n para pantallas muy peque침as */
        }
      }

      @media screen and (min-width: 1550px) {
        .swiper-button-landing-prev,
        #custom-prev {
          left: -70px;
        }
        .swiper-button-landing-next,
        #custom-next {
          right: -70px;
        }
      }

      /* Our Process */
      @media screen and (min-width: 1550px) {
        .our-process-img {
          width: 700px;
          height: 450px;
        }
      }

      @media screen and (max-width: 1549px) {
        .our-process-img {
          width: 700px;
          height: 450px;
        }
      }

      @media screen and (max-width: 1024px) {
        .our-process-img {
          width: 450px;
          height: 450px;
        }
      }
      @media screen and (max-width: 769px) {
        .our-process-img {
          width: 100%;
          height: 225px;
        }
      }

      article.blog-content {
        *:not(h1, h2, h3, h4, h5, h6, code, pre) {
          @apply font-roboto text-base md:text-xl;
        }

        h2,
        h3 {
          @apply mb-2.5 font-nexaBold text-2xl md:text-3xl;
        }

        h4,
        h5,
        h6 {
          @apply mb-2.5 font-nexaBold text-xl md:text-2xl;
        }

        p {
          @apply mb-8;
        }

        pre {
          @apply mb-8 w-full max-w-full overflow-x-hidden;
        }

        code {
          @apply inline-block w-full max-w-full overflow-x-auto;
        }

        img {
          @apply my-10;
        }

        ul,
        ol {
          @apply mb-10  pl-5 md:pl-10;
          list-style: initial;

          & li {
            @apply mb-2.5;
          }
        }
      }

      article.pricing-plan {
        .perks {
          ul {
            list-style-type: initial;
            padding-left: 16px;
          }

          li {
            @apply font-roboto text-[14px];
          }
        }
      }

      #service-description {
        p:not(:last-child) {
          @apply mb-4;
        }
      }

      article.privacy-policy {
        @apply space-y-5 font-nexaLight text-xl;

        h2 {
          @apply font-nexaBold text-3xl text-primary;
        }

        h3 {
          @apply font-nexaBold;
        }

        ul {
          list-style-type: initial;
          padding-left: 16px;
        }
      }
    </style>
  </body>
</html>
